<!DOCTYPE html>
<html>

<head>
  <title>Liverpool Cafe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/views-index.css' />

</head>

<body>
  <%- include('./partials/header') %>


    <h1>Welcome to Liverpool Cafe!</h1>
    <h2>A place to relax, <br>have a cup of tea, <br>and comment on your favorite players</h2>
    <div class="container button-container">
      <% if (user) {%>
        <div class="btn btn-info">Favorite Player</div>
        <% } %>
          <div class="btn btn-danger">Player Page</div>
          <div class="btn btn-info">Match Days</div>
          <div class="btn btn-danger">Tea & Blog</div>
    </div>
</body>

</html>