.main-container {
  /* background: rgba(200, 16, 46, 0.4); */
  border-radius: 50px;
  margin: 20px;
  padding: 80px;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.two-elements {
  max-height: 60vh;
}

.player-card {
  height: 100%;
  border-radius: 30px;
  width: 450px;
  background: rgba(200, 16, 46, 0.2);
  background: rgba(0, 178, 169, 0.8);
}

.player-image {
  margin: 20px 20px 0 20px;
  border: solid black 1px;
  border-radius: 30px;
  transition: 0.7s;
}

.player-image {
  border: none;
}

.comments {
  width: 120vw;
  background: rgba(0, 178, 169, 0.6);
  flex-direction: column;
  border-radius: 30px;
}

.create-comment {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  margin-right: 20px;
}

.btn {
  margin: 0 auto;
}

.user-comments {
  display: flex;
  flex-direction: column;
}

.avatar-image {
  margin: 0;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

span {
  color: white;
}

.player-details {
  font-size: 16px;
  line-height: 2;
  display: flex;
  justify-content: center;
}

.titles {
  font-weight: bold;
  color: white;
}

.details {
  font-style: italic;
  text-align: center;
}

.details:hover {
  color: rgba(0, 0, 0, 0.5);
}

.titles:hover + .title-container {
  box-shadow: 0px 0px 15px 5px rgba(200, 16, 46, 1);
}

th {
  text-align: center;
}

.user-delete {
  border-left: solid rgba(255, 255, 255, 0.3) 1px;
}

.player-name {
  line-height: 1;
  font-family: "New Tegomin";
  font-size: 40px;
  font-style: normal;
}

.datetime {
  margin: 0px;
  font-size: 10px;
}
.username {
  margin: 0;
  color: white;
  font-weight: bold;
}
.user {
  width: 25%;
}

.deleteEdit {
  width: 20%;
  margin: 0 auto;
  align-items: center;
}

#deleteForm {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50px;
  margin-bottom: 5px;
}
.edit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.updated-datetime {
  margin: 0;
  padding: 0;
  font-size: 9px;
}

.scroll {
  font-style: italic;
  margin: 0 auto;
}

.table-header {
  background-color: rgba(200, 16, 46, 0.7);
  color: white;
}

.table {
  max-width: 700px;
}

.comment-row {
  background: rgba(255, 255, 255, 0.3);
}

.userComment {
  white-space: pre-line;
  max-width: 100px;
}

.user-comment {
  font-family: "roboto";
  color: black;
  max-width: 400px;
  max-height: 350px;
  word-wrap: break-word;
  overflow: scroll;
  border-left: solid rgba(255, 255, 255, 0.3) 1px;
}

.comments-box {
  border-radius: 20px;
  max-width: 600px;
  height: 300px;
  overflow: scroll;
}
