html {
  height: 100vh;
}

body {
  background: url("/images/liverpool2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.word {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

h1 {
  margin-left: 40px;
  width: 400px;
  text-align: center;
  -webkit-text-stroke: 1.5px white;
}
h2 {
  width: 450px;
  color: white;
  margin: 0 15px;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  -webkit-text-stroke: 1px black;
}

h1,
h2 {
  font-weight: 600;
}

.button-container {
  margin-top: 52vh;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 15px;
}
