<!DOCTYPE html>
<html>

<head>
    <title>Liverpool Cafe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/views-index.css' />
    <link rel='stylesheet' href='/stylesheets/liverpools-index.css' />

</head>

<body>
    <%- include('../partials/header') %>
        <% console.log(data.liverpools); %>
            <div class="container">
                <div class="row">
                    <% data.liverpools.forEach(function(p) {%>
                        <div class="col-sm border border-danger">
                            <div class="player-image">
                                <a href="/liverpools/<%=p.playerNo%>">
                                    <img src="<%=p.img%>" alt="">
                                </a>
                            </div>
                            <h3>
                                <%=p.playerName%>
                            </h3>
                            </a>
                        </div>
                        <% })%>
                </div>
</body>

</html>